<%-include('partials/header')-%>
<body>
    <!-- <aside id="topbar"></aside> -->
    <main>

        <section id="contacts">
            <div id="lilprofile">
              <div id="menue"><span class="material-icons-sharp">
                menu
                </span></div>  <input type="text" placeholder="search contact" id="search">
            </div>
            <diV id="listconatcts">
                
                <div id="contact">
                    <img src="" alt="" id="profileimg">
                    <div id="details">
                        <div id="sapce" >
                            <h3 id="thename" >Name</h3>
                            <h4 id="lastseen" >lastseen</h4>
                        </div>
                        <div id="countss">
                            <p id="lastmessgae">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis itaque sapiente recusandae.</p>
                            <div id="count">5</div>
                        </div>
                    </div>
                </div>
                <hr>
             
            </diV>



        </section>

        <section id="chats">
            <div id="bar">
                <img src="" alt="" id="chatimg">
                <div id="chatprofile">
                    <h2 id="chatname">Name</h2>
                    <p id="time">Online</p>
                </div>
               
            </div>

            <div id="chatarea">
                
              

              
              
                

            </div>
            <div id="inputs">
                <label for="file" id="media"><span class="material-icons-sharp">
                    attach_file
                    </span></label>
                <input type="text" id="textchat" placeholder="type here ....">
                <div id="vn"><span class="material-icons-sharp">
                    mic
                    </span></div>
                <input type="file" id="file">
                <button id="send" ><span class="material-icons-sharp">
                    send
                    </span></button>
            </div>
        </section>

        <section id="idprofile">
            <div id="basicprofile">
                <img src="" alt="" id="bp">
                <h2>Name</h2>
                <p id="lastsen">0797895556 </p>
            </div>

            <div id="medias">
                <div id="photos">  <span class="material-icons-sharp">
                    imagesmode
                    </span></div>
                <div id="files"><span class="material-icons-sharp">
                    files
                    </span> 45</div>
                <div id="links"> <span class="material-icons-sharp">
                    link
                    </span> </div>
            </div>
            <div id="otheractions">
                <p id="share"><span class="material-icons-sharp">
                    share
                    </span> Share Contact</p>
                <p id="edit"><span class="material-icons-sharp">
                    edit
                    </span> Edit Conatc</p>
                <p id="delete"><span class="material-icons-sharp">
                    delete
                    </span>Delete Contact </p>
                 
                <p id="block"> <span class="material-icons-sharp">
                    block
                    </span>Block Contact </p>
            </div>
        </section>
        <!-- <div id="enlargeimage" >


        </div> -->
    </main>
    <script src="/js/ui/index.js"></script>
</body>
</html>