<%-include('partials/header')-%>

<body>
 <form action="/chats" method="post">
    <div id="login">
        <div id="alert"> Status </div>
        <input id="loginhere"  name="name" class="name" type="text" placeholder="name" id="person">
        <input id="loginhere" name="room" class="room"  type="text" placeholder="room" id="room">
        <button id="continue" type="submit">Continue</button>
    </div>
 </form>
  

    <script src="js/ui/profile.js"></script>
</body>