
<%-include('partials/header')-%>
<body>

<div id="phone" class="d-lg-none">
<header>
    <h2>Wozap</h2>
    <div id="icons " class="d-flex">
        <div id="search"><span class="material-icons-sharp">
            search
            </span></div>
            <div id="more">
                <span class="material-icons-sharp">
                    more_vert
                    </span>
            </div>
    </div>
   
</header>
    <aside id="ribbon">
        <div id="tab">Chats <span id="count"> 5</span> </div>
        <div id="tab">Groups</div>
        <div id="tab">Status</div>
        <div id="tab">Calls</div>
        <div id="tab">Spotify</div>
    </aside>
    <main>
        <section  id="tabbody"  class="chats">
            <div id="tile">
                <div id="profileone">
                    <div id="pimage">
                        <img src="" alt="">
                    </div>
                    <div id="detail">
                        <p id="Name">Name</p>
                        <p id="lastmessage"><span id="tick" class="material-icons-sharp">
                            done_all
                            </span> Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <div id="profiletwo">
                    <p id="time">11:50pm</p>
                </div>
            </div>
            <hr>
        </section>
        <section  id="tabbody"  class="groups"></section>
        <section  id="tabbody"  class="status"></section>
        <section  id="tabbody"  class="calls"></section>
        <secction id="tabbody"  class="spotify"></secction>
    </main>
</div>
  




<%-include('partials/footer')-%>
</body>
</html>








